.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.wrapper, .chart{
  display: block;
  z-index: 8;
}
.App-body {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15vh;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.deepPink{
  height: 30px;
  width: 100%;
  background-color: deeppink;
  /* text-align: center; */
}
.aqua{
  height: 30px;
  width: 100%;
  background-color: aqua;
}
.greenYellow{
  height: 30px;
  width: 100%;
  background-color: greenYellow;
}
.orange{
  height: 30px;
  width: 100%;
  background-color: orange;
}
.green{
  height: 30px;
  width: 100%;
  background-color: green;
}
.yellow{
  height: 30px;
  width: 100%;
  background-color: yellow;
}
.fuchsia{
  height: 30px;
  width: 100%;
  background-color: fuchsia;
}
.lime{
  height: 30px;
  width: 100%;
  background-color: lime;
}
.navy{
  height: 30px;
  width: 100%;
  background-color: navy;
}
.darkgray{
  height: 30px;
  width: 100%;
  background-color: darkgray;
}
.colores{
      list-style-type: none;

}
.landing{
  height: 78vh;
}
tr, th{
  font-size: 18px;
}
.cls{
  font-weight: normal;
  width: 30%;
  color: white;
}
.clr{
  padding: 0;
}
.verde{
  color: greenyellow;
}
.IA{
  position: absolute;
     bottom: 0px;
     right: 10px;
}
input, textarea{
  border-radius: 5px!important;
  padding-left: 15px;
}
button{
  position: absolute;
     bottom: 30px;
     right: 0px;

}